<%- include('../../partials/header') %> <%- include('../../partials/navbar') %>

<div class="container">
  <hr />
  <h2>Categorias</h2>
  <a class="btn btn-success" href="/admin/categories/new">Nova categoria</a>
  <hr />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Slug</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% categories.forEach(category=> { %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.title %></td>
        <td><%= category.slug %></td>
        <td>
          <button class="btn btn-warning">Editar</button>
          <form
            onsubmit="confirmarDelecao(event,this)"
            style="display: inline"
            action="/categories/delete"
            method="post"
          >
            <input
              style="padding: 0; margin: 0"
              class="form-control"
              type="hidden"
              name="id"
              value="<%= category.id %>"
            />
            <button class="btn btn-danger">Deletar</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('../../partials/footer') %>

<script>
  function confirmarDelecao(event, form) {
    event.preventDefault();
    var desision = confirm("Você quer mesmo deletar essa categoria?");
    desision ? form.submit() : "";
  }
</script>
